html,
body {
  height: 100%;
  width: 100%;

  background-image: linear-gradient(to right bottom, #03032b, #3f3e3e);
}

.label {
  color: white;
  text-align: center;
  font-size: 60px;
  padding: 30px;
  font-family: "PMingLiU-ExtB";
  position: relative;
  top: 40vh;
}

.buttons {
  color: white;
  text-align: center;
  font-size: 60px;
  padding: 30px;
  font-family: "PMingLiU-ExtB";
  position: relative;
  top: 40vh;
}

.loginButton {
  margin-right: 3vh;
}
