div .formRegisterContainer {
  height: 650px;
}

div .placeholderContainer {
  max-width: 600px;
  margin-left: 400px;
  height: 650px;
}

div .formPlaceholderContainer {
  max-width: 400px;
  height: 650px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 17.5%;
}

.placeholder {
  margin-bottom: 10px;
  padding: 5px;
  width: 250px;
  min-height: 30px;
}
::placeholder {
  color: gray;
  padding: 10px;
  font-size: 10px;
}

button .submit {
  margin-top: 10px;
  margin-left: 25%;
  border: 0;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 300;
  transition: filter 0.2s;
}

button .submit:hover {
  filter: brightness(90%);
}

.leftball {
  background-color: white;
  width: 800px;
  height: 750px;
  border-radius: 360px;
  position: absolute;
  bottom: 450px;
  right: 1150px;
}
